/*-- homepage thick header --*/
/*-- copied from https://pythonds.linogaliana.fr/ source code --*/
/*-- to create wider title banner with columns and input --*/

#title-block-header {
    display: none ;
  }
  
  code {
   color:#d82e89;
   background-color: transparent !important;
  }
  
  
  #hero-banner {
    padding-top: 35px;
    background-color: #247aa7;
    color: white;
  }
  
  
  #quarto-content main { 
    margin-top: 0;
    padding-top: 0;
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  .headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
  }
  
  .headline p {
    margin: 0;
    padding-bottom: 0.2rem;
  }
  
  .headline a {
    text-decoration: none;
  }
  
  .headline ul li {
    margin-bottom: 0.3em;
  }
